link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
script(src='//cdn.bootcss.com/jquery/3.1.1/jquery.min.js')
script(src='//cdn.bootcss.com/materialize/0.97.8/js/materialize.min.js')
