footer.page-footer.teal.lighten-2
  .container
    .row
      .col.m6.s12
        h5.white-text iLighting
        p.grey-text.text-lighten-4 一个智能的照明系统
      .col.m4.offset-m2.s12
        h5.white-text Links
        ul
          li
            a.grey-text.text-lighten-3(href='https://github.com/iLighting' target='_blank') Github
  .footer-copyright
    .container © 2016 Copyright 华南理工大学光电所