doctype html
html
head
  include inc/innerHead.pug
  title iLighting
body
  nav.teal.lighten-2
    .nav-wrapper
      a(href='/' class='brand-logo left') iLighting
      ul.right
        li 
          a(href='/') 首页
        li
          a(href='/board') 面板
        li
          if userName
            a(href='/auth/logout') 注销
          else
            a(href='/auth/login') 登录
  h1.center-align iLighting <br> 智能照明系统
  include inc/footer.pug
  include inc/bodyTail.pug
  
  
  